.contact-logo-container {
	display: none;
}

.contact-subtitle {
	width: 100% !important;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 140px;
}

.socials-container {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	padding-top: 40px;
	border-top: 1px solid var(--border-subtle);
}

.contact-socials {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@media (max-width: 600px) {
	.contact-container {
		margin-top: 110px;
	}
}
